<!doctype html>
<html lang="en">
  <head>
    <h1 class="Sightings">Sighting Stats: How many squirrels are...?</h1>
      <title>Sighting Stats</title>
      <style>
      table, td, th { 
      padding: 10px; 
      border: 2px solid #1c87c9;
      border-radius: 5px;
      background-color: #e5e5e5;
      text-align: center;
      }
    </style>
    </head>
        <body>
          <table>
            <tr>
              <th>not eating</th>
              <th>eating</th>
              <th>not kuking</th>
              <th>kuking</th>
              <th>not moaning</th>
              <th>moaning</th>
              <th>not chasing</th>
              <th>chasing</th>
              <th>not running</th>
              <th>running</th>
                <tr>
 
                  <td>{{ not_eating }}</td>
                  <td>{{ eating }}</td>
                  <td>{{ not_kuks }}</td>
                  <td>{{ kuks }}</td>
                  <td>{{ not_moan }}</td>
                  <td>{{ moan }}</td>
                  <td>{{ not_chasing }}</td>
                  <td>{{ chasing }}</td>
                  <td>{{ not_running }}</td>
                  <td>{{ running }}</td>

                </tr>

          </table>
        </body>
